<template>
  <div class="CheckboxWidget">
    <input type="checkbox" />
  </div>
</template>

<script>
export default {
  name: 'CheckboxWidget',
  props: {
    checked: Boolean,
  },
  data() {
    return {
      isChecked: false,
    };
  },
};
</script>

<style>
.CheckboxWidget {
  color: blue;
}
</style>
